// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_new .form_block .field label {
  width: 9em;
}
.user_new .form_block input[type="text"],
.user_new .form_block input[type="email"],
.user_new .form_block input[type="password"] {
  width: 280px;
}
.user_show .goto_tasklist {
  text-align: center;
}
.user_show .goto_tasklist a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background: #f6a623;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 4px -2px #dadada;
}
.user_show .goto_tasklist a:hover {
  text-decoration: none;
  color: #fff;
}
/* admin */

.admin_index .user_new {
  text-align: center;
  margin-bottom: 30px;
}
.admin_index .user_new a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background: #f6a623;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 4px -2px #dadada;
}
.admin_index .user_new a:hover {
  text-decoration: none;
  color: #fff;
}
.admin_index ul {
  flex-wrap: wrap;
}
.admin_index ul li {
  width: 48%;
}
.admin_index ul li .item_name {
  width: 70px;
  text-align: center;
}
.tasklist li .btns a.show_user {
  color: #008db7;
  border: 1px solid #008db7;
}
.tasklist li .btns a.edit_user {
  color: #f39800;
  border: 1px solid #f39800;
}
.tasklist li .btns a.delete_user {
  color: #c70067;
  border: 1px solid #c70067;
}
.profile_block {
  background: #f0f6da;
  border: 1px solid #dddfe2;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto 30px;
  width: 540px;
}
.profile_block p {
  margin-bottom: 10px;
}
.profile_block p:last-child {
  margin-bottom: 0;
}
.profile_block p .item_name {
  background: #f6a623;
  color: #fff;
  padding: 3px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  width: 9em;
  text-align: center;
  margin-right: 10px;
  margin-top: -4px;
  vertical-align: middle;
}

.admin_new .form_block .field label,
.admin_edit .form_block .field label {
  width: 9em;
}
.admin_new .form_block input[type="text"],
.admin_new .form_block input[type="email"],
.admin_new .form_block input[type="password"],
.admin_edit .form_block input[type="text"],
.admin_edit .form_block input[type="email"],
.admin_edit .form_block input[type="password"]  {
  width: 280px;
}


@media only screen and (max-width: 1199px){

  /* admin */

  .admin_index .tasklist li .btns .innerblock {
    display: inline-block;
  }
  .admin_index .tasklist li .btns a {
    display: block;
    text-align: center;
    width: 160px;
    margin-bottom: 5px;
  }
  .admin_index .tasklist li .btns a:last-child {
    margin-bottom: 0;
  }

}


@media only screen and (max-width: 768px){

    /* admin */

  .profile_block {
    width: 100%;
  }

}

@media only screen and (max-width: 414px){

    /* admin */

  .admin_index ul li {
    width: 100%;
  }
}
